.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  align-items: center;
  padding: 8px;
  width: 5%;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background-color: #f2f2f2;
}

.header {
  display: block;
  text-align: right;
}

.close {
  cursor: pointer;
  padding: 4px;
  color: black;
  background-color: rgb(255, 130, 130);
}

.close:hover {
  background-color: rgb(253, 91, 91);
}

.ordenacao {
  display: none;
  text-align: right;
}

.expanded {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: rgb(165, 165, 165);
  padding: 10px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

#containerExpanded {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
}

input[type="text"], input[type="date"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  margin: 3px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons {
  margin-top: 10px;
  text-align: center;
}

#button {
  padding: 3px 7px;
  margin: 3;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.tarefa {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}
